/* GENERAL RULES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}
.float-right{
  float: right;
}

.color{
  background-color: rgb(41, 201, 177);
}

.container{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.login-btn{
  background-color: #FFFFFF;
  color: #FE775A;
  /* padding: 10px; */
  /* text-decoration: none; */
  border-radius: 10px;
  border: 2px solid #FE775A;
}

.orange-btn{
  background-color: #FE775A;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.greater{
  padding: 20px 40px;
  font-size: 150%;
}


/* /GENERAL RULES */

body{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}


/* HEADER */
header{
  height: 800px;
}

header .first{
  height: 100px;
  background-color: #F4F9FD;

}

header .second{
  height: 100px;
  background-color: #FFFFFF;
}

header .third{
  height: 600px;
  background-color: #FFF2EE;
}

/* NAV-BAR*/
.ico{
  font-size: 120%;
  list-style: none;
  /* line-height: 100px; */
}


.nav-bar{
  height: 200px;
  /* background-color: pink; */
}

.nav-bar .up-navigation{
  height: 50%;
  background-color: #F4F9FD;
  border-bottom: 2px solid #32495B;
}


.up-navigation .left{
  width: 50%;
  height: 100%;
  /* background-color: #99510a; */
  /* line-height: 100px; */
}

.up-navigation .left nav ul{
  font-size: 200%;
  text-transform: capitalize;
  list-style: none;
  line-height: 100px;
}

.up-navigation .left li{
  margin-right: 5px;
}

.up-navigation .left a{
  text-decoration: none;
  color: #32495B;
}

.up-navigation .left .contact-us{
  border-left: 2px solid #32495B;
  padding-left: 25px;
  margin-left: 20px;
}

.up-navigation .right nav ul{
  font-size: 200%;
  list-style: none;
}


.up-navigation .right{
  width: 50%;
  height: 100%;
  /* background-color: #5cf91b; */
  line-height: 100px;
}
.up-navigation .right li{
  margin-left: 30px;
}

.up-navigation .right li a.search{
  color: #31B4C9;
}


.up-navigation .right a{
  text-decoration: none;
  padding: 10px;
}



/* DOWN NAVIGATION BAR */
.nav-bar .down-navigation{
  height: 50%;
  background-color: #FFFFFF;
}

.down-navigation .left{
  width: 30%;
  height: 100%;
  position: relative;
}

.down-navigation .left .hubspot-logo{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.down-navigation .right{
  width: 70%;
  height: 100%;
  /* background-color: #e6ad40; */
}

.down-navigation .right nav ul{
  font-size: 200%;
  text-transform: capitalize;
  list-style: none;
  line-height: 100px;
}

.down-navigation .right li{
  margin-left: 15px;
}

.down-navigation .right li a{
  text-decoration: none;
  padding: 30px 0 30px 30px;
  color: #32495B;
}

.down-navigation .right li i.arrow{
  margin-left: 20px;
}

/* /DOWN NAVIGATION BAR */


/* /NAV-BAR*/



/* JUMBOTRON */
.jumbotron{
  height: 600px;
  background-image: url('../img/jumbotron.png');
}

.headline-cta{
  width: 40%;
}


.headline-cta h1{
  font-size: 400%;
  padding-top: 50px;
}

.headline-cta p{
  font-size: 150%;
  margin-top: 30px;
  margin-bottom: 50px;
  line-height: 30px;
}

.headline-cta h6{
  margin-top: 55px;
  font-size: 120%;
  font-weight: normal;
}


/* /JUMBOTRON */


/* /HEADER */





/* MAIN */
main{
  height: 800px;
  background-color: #dda529;
}

.azure-stripe{
  height: 12.5%;
  width: 100%;
  border-top: 3px solid #32495B;
  border-bottom: 3px solid #32495B;
  background-color: #AFEBE4;
}

/* .test{
  height: 100%;
  width: 100%;
  background-color: red;
} */






/* /MAIN */
