/* GENERAL RULES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}
.float-right{
  float: right;
}

.color{
  background-color: rgb(41, 201, 177);
}

.container{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.login-btn{
  background-color: #FFFFFF;
  color: #FE775A;
  /* padding: 10px; */
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid #FE775A;
}

.orange-btn{
  background-color: #FE775A;
  color: white;

  border-radius: 10px;
}


/* /GENERAL RULES */

body{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}


/* HEADER */
header{
  height: 800px;
  background-color: red;
}

/* NAV-BAR*/
.ico{
  font-size: 120%;
  list-style: none;
  /* line-height: 100px; */
}


.nav-bar{
  height: 200px;
  /* background-color: pink; */
}

.nav-bar .up-navigation{
  height: 50%;
  background-color: #F4F9FD;
}


.up-navigation .left{
  width: 50%;
  height: 100%;
  /* background-color: #99510a; */
  /* line-height: 100px; */
}

.up-navigation .left nav ul{
  font-size: 200%;
  text-transform: capitalize;
  list-style: none;
  line-height: 100px;
}

.vertical-slash{}

.up-navigation .right nav ul{
  font-size: 200%;
  list-style: none;
}


.up-navigation .right{
  width: 50%;
  height: 100%;
  /* background-color: #5cf91b; */
  line-height: 100px;
}
.up-navigation .right li{
  margin-left: 30px;
}


.up-navigation .right a{
  text-decoration: none;
  padding: 10px;
}


.nav-bar .down-navigation{
  height: 50%;
  background-color: #FFFFFF;
}

.down-navigation .left{
  width: 50%;
  height: 100%;
  /* background-color: #c0d637; */
}

.down-navigation .right{
  width: 50%;
  height: 100%;
  /* background-color: #e6ad40; */
}



/* /NAV-BAR*/



/* JUMBOTRON */
.jumbotron{
  height: 600px;
  background-color: #cbdf50;
}




/* /JUMBOTRON */


/* /HEADER */





/* MAIN */
main{
  height: 800px;
  background-color: #dda529;
}








/* /MAIN */
